body {
  background-color: rgb(255, 255, 255);
}
.card {
    background-color: rgb(241, 227, 227);
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    
}
.get-started {
  color: black;
  background-color: rgb(225, 183, 128);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}